/.github/copilot-instructions.md
/.github/instructions
/.github/prompts/
/.github/agents/
/.github/skills/
/.github/sync-history.yml
/.github/agent_config_version
/.copilot/

**/.claude/
**/CLAUDE.md
!.agent_config/sync/claude.md
.mcp.json

**/AGENTS.md
**/GEMINI.md
!.agent_config/sync/gemini.md
/.gemini/

/.codex/

/.cursor
